{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
    <aside>
        <a href="{% url 'index' %}" ><img src="{% static 'main/png/Unibelus_logo.png'%}" alt="UNB">
        <span class="logo">Unibelus</span></a>
        <ul>
            <li><h3>Парсинг по позиции</h3>
                <ul>
                <a href="{% url 'apc' %}" ><li><i class="fas fa-car-battery"></i> APC</li></a>
                <a href="{% url 'bolid' %}" ><li><i class="fas fa-bold"></i> Болид</li></a>
                <a href="{% url 'dahua' %}" ><li><i class="fas fa-video"></i> Dahua</li></a>
                <a href="{% url 'dkc' %}" ><li><i class="fas fa-boxes"></i> DKC</li></a>
                <a href="{% url 'dlink' %}" ><li><i class="fas fa-ethernet"></i></i> D-link</li></a>
                <a href="{% url 'hikvision' %}" ><li><i class="fas fa-video"></i></i> Hikvision</li></a>
                <a href="{% url 'iek' %}" ><li><i class="fas fa-boxes"></i> IEK</li></a>
                <a href="{% url 'itk' %}" ><li><i class="fas fa-cube"></i> ITK</li></a>
                <a href="{% url 'mikrotik' %}" ><li><i class="fas fa-ethernet"></i> Mikrotik</li></a>
                <a href="{% url 'optimus' %}" ><li><i class="fas fa-video"></i> Optimus</li></a>
                <a href="{% url 'phoenix' %}" ><li><i class="fas fa-charging-station"></i> Phoenix Contact</li></a>
                <a href="{% url 'rittal' %}" ><li><i class="fas fa-cube"></i> Rittal</li></a>
                <a href="{% url 'se' %}" ><li><i class="fas fa-charging-station"></i> Schneider Electric</li></a>
                <a href="{% url 'ubiquiti' %}" ><li><i class="fas fa-ethernet"></i> Ubiquiti</li></a>
                <a href="{% url 'unv' %}" ><li><i class="fas fa-video"></i> Uniview</li></a>
                <a href="{% url 'wago' %}" ><li><i class="fas fa-bolt"></i> Wago</li></a>
                </ul>
            </li>
            <li><h3>Массовый парсинг</h3>
                <ul>
                <a href="{% url 'dkc_mass' %}" ><li><i class="fas fa-boxes"></i> DKC</li></a>
                <a href="{% url 'iek_mass' %}" ><li><i class="fas fa-boxes"></i> IEK</li></a>
                <a href="{% url 'itk_mass' %}" ><li><i class="fas fa-cube"></i> ITK</li></a>
                <a href="{% url 'phoenix_mass' %}" ><li><i class="fas fa-charging-station"></i> Phoenix Contact</li></a>
                <a href="{% url 'rittal_mass' %}" ><li><i class="fas fa-cube"></i> Rittal</li></a>
                <a href="{% url 'se_mass' %}" ><li><i class="fas fa-charging-station"></i> Schneider Electric</li></a>
                <a href="{% url 'wago_mass' %}" ><li><i class="fas fa-bolt"></i> Wago</li></a>
                </ul>
            </li>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>